NEXT_PUBLIC_SUPABASE_URL=https://rnjxzztusrckpiwifzld.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJuanh6enR1c3Jja3Bpd2lmemxkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzg3NzUyMzcsImV4cCI6MjA5NDM1MTIzN30.94TxI-z_i_kmbNbUPPRpRo-bIshzM-eM6-onEuxgMw0
